<%- include('partials/header') %>

<main id="main-content">
    <div class="container">
        <h1><%= title %></h1>
        <p>Explore our diverse range of service opportunities organized by category:</p>
        <div class="action-bar">
            <a class="button button-primary" href="/new-category">Add New Category</a>
        </div>
        <ul class="category-list">
            <% if (categories && categories.length) { %>
                <% categories.forEach(category => { %>
                    <li>
                        <div class="category-item-header">
                            <h3><a href="/category/<%= category.category_id %>"><%= category.name %></a></h3>
                            <a class="button button-secondary" href="/edit-category/<%= category.category_id %>">Edit</a>
                        </div>
                        <% if (category.description) { %>
                            <p><%= category.description %></p>
                        <% } %>
                    </li>
                <% }) %>
            <% } else { %>
                <li>
                    <h3>No categories available</h3>
                    <p>Please check back later or load the database.</p>
                </li>
            <% } %>
        </ul>
    </div>
</main>

<%- include('partials/footer') %>
